---
export interface Props {
  id: string;
  label: string;
  model?: string;
  unit?: string;
  step?: string;
  colSpan?: "full" | "half";
  slider?: boolean;
  min?: string;
  max?: string;
  class?: string;
}

const {
  id,
  label,
  model = "",
  unit = "",
  step = "1",
  colSpan = "half",
  slider = false,
  min = "0",
  max = "100",
  class: className = "",
} = Astro.props;

const colSpanClass = colSpan === "full" ? "col-span-full" : "";
---

<div class:list={["flex flex-col gap-1.5", colSpanClass, slider && "relative pb-2"]}>
  <label for={id} class="_label text-text-tertiary typo-t4">{label}</label>
  <div class="flex items-baseline">
    <input id={id} type="number" class="_value flex-1 outline-0" x-model.number={model} step={step} min={min} max={max} />
    {unit && <span class="_unit text-text-tertiary typo-label">{unit}</span>}
  </div>

  {slider && (
    <input
      type="range"
      x-model.number={model}
      min={min}
      max={max}
      step={step}
      class="absolute bottom-0 left-0 w-full h-[2px] appearance-none bg-outline cursor-pointer
        [&::-webkit-slider-thumb]:appearance-none [&::-webkit-slider-thumb]:w-3 [&::-webkit-slider-thumb]:h-3 [&::-webkit-slider-thumb]:rounded-full [&::-webkit-slider-thumb]:bg-accent [&::-webkit-slider-thumb]:cursor-pointer [&::-webkit-slider-thumb]:border-none [&::-webkit-slider-thumb]:shadow-sm
        [&::-moz-range-thumb]:w-3 [&::-moz-range-thumb]:h-3 [&::-moz-range-thumb]:rounded-full [&::-moz-range-thumb]:bg-accent [&::-moz-range-thumb]:border-none [&::-moz-range-thumb]:cursor-pointer"
    />
  )}
</div>